.btn {
  max-width: 173px;
  width: 100%;
  height: 56px;
  padding: 16px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.08px;
  color: var(--secondary-color);
  background-color: var(--btn-color);
  border-radius: 200px;
  transition: background-color var(--transition-time);
}

.btn:is(:hover, :focus) {
  background-color: var(--btn-hover-color);
}

.review {
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-color);
}

.review:is(:hover, :focus) {
  text-decoration-line: underline;
  text-underline-offset: 3px;
}

