.vehicleContainer {
  display: flex;
  flex-direction: column;
  gap: 28px;
  color: var(--primary-color);
}

.vehicleInfoText {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.titleVehicle {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
}

.vehicleLocationReview {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 16px;
  line-height: 1.5;
}

.vehicleRatingContainer {
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.ratingValue:is(:hover, :focus) {
  text-decoration-line: underline;
  text-underline-offset: 3px;
}

.rating {
  font-size: 16px;
  color: var(--rating-color);
}

.locationWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.priceVehicle {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
}

.galleryContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 48px;
}

.galleryVehicle {
  max-width: 292px;
  width: 100%;
  height: 312px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--gray-light-color);
}

.galleryVehicle::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(206, 187, 162, 0.5);
}

.imgVehicle {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 2;
}

.vehicleDescription {
  color: var(--main-txt-color);
}
