:root {
  --primary-color: #101828ff;
  --secondary-color: #ffffffff;
  --main-txt-color: #475467ff;
  --element-txt-color: #F7F7F7;
  --btn-color: #e44848ff;
  --btn-hover-color: #d84343ff;
  --gray-color: #6c717bff;
  --gray-light-color: #dadde1ff;
  --gray-100-color: #f2f4f7ff;
  --rating-color: #ffc531ff;
  --transition-time: 0.3s;
}