:root {
  --primary-color: #101828;
  --secondary-color: #ffffff;
  --main-txt-color: #475467;
  --element-txt-color: #F7F7F7;
  --btn-color: #E44848;
  --btn-hover-color: #D84343;
  --gray-color: #6c717b;
  --gray-light-color: #dadde1;
  --gray-100-color: #f2f4f7;
  --rating-color: #ffc531;
  --transition-time: 0.3s;
}