.filterAside {
  position: sticky;
  max-width: 360px;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.locationFilter {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}
.locationTitle {
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-color);
}

.locationInput {
  border-radius: 12px;
  padding: 18px;
  padding-left: 48px;
  outline: none;
  border: none;
  background: var(--element-txt-color);
}

.iconsMap {
  position: absolute;
  bottom: 16px;
  left: 20px;
  font-size: 20px;
  color: var(--gray-color);
  transition: color var(--transition-time) ease-in;
}

.locationInput:focus + .iconsMap,
.locationInput:not(:placeholder-shown) + .iconsMap {
  color: var(--primary-color);
}

.mainTitle {
  color: var(--main-txt-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.filterListContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.submitBtn {
  border-radius: 200px;
  border: none;
  background: var(--btn-color);
  width: 166px;
  padding: 16px;
  text-align: center;
  color: var(--secondary-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.08px;
  transition: background-color var(--transition-time)
    cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.submitBtn:is(:hover, :focus) {
  background-color: var(--btn-hover-color);
}

