.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  background-color: var(--element-txt-color);
  border-bottom: 1px solid var(--gray-100-color);
  box-shadow: none;
  transition: background-color var(--transition-time-tab),
    box-shadow var(--transition-time-tab);
}

.fixed {
  text-shadow: 0px 0px 15px rgba(255, 255, 255, 1);
  border-bottom: 1px solid var(--header-bgr-color);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.55);
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.55);
}
