:root {
  --primary-color: #101828ff;
  --secondary-color: #ffffffff;
  --main-txt-color: #475467ff;
  --element-txt-color: #F7F7F7;
  --btn-color: #e44848ff;
  --btn-hover-color: #d84343ff;
  --gray-color: #6c717bff;
  --gray-light-color: #dadde1ff;
  --gray-100-color: #f2f4f7ff;
  --rating-color: #ffc531ff;
  --transition-time: 0.3s;
  --transition-function: easy-in;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}