.filterFieldContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.vehicleContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 8px 12px;
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}